<style>
body{
	
}
  .con_ul{

  padding: 0;
  margin: 0;
  overflow: auto;
  }
  .con_ul li{
  list-style: none;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #6b6;
  border-top: 1px solid #6b6;
  line-height: 35px;
  }
  .con_ul li .title{
  padding-right: 20px;
  padding-left: 50px;
  background-image: url(../images/menu_right2.png);//默认的背景
  background-position: 100% 0px;
  background-repeat: no-repeat;
  }
  .con_ul li .title.act{
  padding: 5px 50px;
  background-image: url(../images/menu_down2.png);
  background-position: left;
  background-repeat: no-repeat;
  }
  .con{
  background-color: #F4F4F4;
  display: none;//内容本分默认隐藏
  padding: 5px;
  margin: 10px 0;
  }

</style>