* {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

IMG {
	BORDER-RIGHT-WIDTH: 0px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px
}

EM {
	FONT-STYLE: normal
}

A {
	COLOR: #333;
	TEXT-DECORATION: none
}

A:hover {
	TEXT-DECORATION: underline
}

BODY {
	FONT-FAMILY: "ו", Arial, Helvetica, sans-serif;
	COLOR: #333;
	FONT-SIZE: 12px
}

DL DT IMG {
	DISPLAY: block
}

.topad {
	MARGIN: 10px auto 0px;
	WIDTH: 960px;
	OVERFLOW: hidden
}

.btmad {
	MARGIN-TOP: 10px;
	WIDTH: 800px;
	OVERFLOW: hidden
}

.main {
	MARGIN: 10px auto 0px;
	WIDTH: 960px;
	OVERFLOW: hidden
}

.leftnav {
	WIDTH: 140px;
	PADDING-RIGHT: 20px;
	FLOAT: left;
	OVERFLOW: hidden
}

.cate {
	BORDER-BOTTOM: #d2d2d2 1px solid;
	BORDER-LEFT: #d2d2d2 1px solid;
	PADDING-BOTTOM: 4px;
	WIDTH: 138px;
	BACKGROUND: #f1f1f1;
	BORDER-TOP: #d2d2d2 1px solid;
	BORDER-RIGHT: #d2d2d2 1px solid
}

.cate H3 {
	LINE-HEIGHT: 30px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		repeat-x;
	COLOR: #fd5f15;
	FONT-SIZE: 14px
}

.cate H4 {
	LINE-HEIGHT: 26px;
	MARGIN: 0px auto;
	WIDTH: 130px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -31px;
	HEIGHT: 26px;
	COLOR: #004a99;
	FONT-SIZE: 14px;
	FONT-WEIGHT: normal
}

.cate H4 EM {
	TEXT-INDENT: -9999px;
	WIDTH: 25px;
	FLOAT: left;
	HEIGHT: 25px;
	CURSOR: pointer
}

.cate H4 EM A {
	WIDTH: 25px;
	DISPLAY: block;
	HEIGHT: 25px
}

.cate H4 EM A:hover {
	WIDTH: 25px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -358px;
	HEIGHT: 25px
}

.cate H4 SPAN {
	FLOAT: left
}

.cate H4 A {
	COLOR: #004a99
}

.cate H4.cur {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -57px;
	COLOR: #333;
	FONT-WEIGHT: bold
}

.cate H4.cur A {
	COLOR: #333
}

.cate H4.cur A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}

.cate UL {
	PADDING-BOTTOM: 7px;
	MARGIN: 0px auto;
	PADDING-LEFT: 19px;
	WIDTH: 111px;
	PADDING-RIGHT: 0px;
	BACKGROUND: #fff;
	COLOR: #004a99;
	PADDING-TOP: 6px
}

.cate UL LI {
	LINE-HEIGHT: 25px;
	PADDING-LEFT: 10px;
	HEIGHT: 25px
}

.cate UL LI.cur {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -294px;
	COLOR: #333;
	FONT-WEIGHT: bold
}

.cate UL LI A {
	COLOR: #004a99
}

.hotrank {
	BORDER-BOTTOM: #d2d2d2 1px solid;
	BORDER-LEFT: #d2d2d2 1px solid;
	PADDING-BOTTOM: 5px;
	MARGIN-TOP: 10px;
	WIDTH: 138px;
	BACKGROUND: #f1f1f1;
	BORDER-TOP: #d2d2d2 1px solid;
	BORDER-RIGHT: #d2d2d2 1px solid
}

.hotrank H3 {
	LINE-HEIGHT: 30px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		repeat-x;
	COLOR: #fd5f15;
	FONT-SIZE: 12px
}

.hotrank H4 {
	LINE-HEIGHT: 26px;
	MARGIN: 0px auto;
	PADDING-LEFT: 10px;
	WIDTH: 120px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -82px;
	HEIGHT: 26px;
	COLOR: #004a99;
	FONT-SIZE: 14px;
	CURSOR: pointer;
	FONT-WEIGHT: normal
}

.hotrank H4 A {
	COLOR: #004a99
}

.hotrank H4.cur {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -108px;
	COLOR: #333;
	FONT-WEIGHT: bold
}

.hotrank H4.cur A {
	COLOR: #333
}

.content {
	WIDTH: 800px;
	FLOAT: left;
	OVERFLOW: hidden
}

.road {
	BORDER-BOTTOM: #ebebeb 1px solid;
	LINE-HEIGHT: 20px
}

.seeti {
	BORDER-BOTTOM: #7189a3 2px solid;
	WIDTH: 800px;
	HEIGHT: 32px
}

.seeti UL {
	MARGIN-TOP: 10px;
	FLOAT: left
}

.seeti UL LI {
	TEXT-ALIGN: center;
	WIDTH: 82px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -173px;
	FLOAT: left;
	HEIGHT: 17px;
	CURSOR: pointer;
	MARGIN-RIGHT: 5px;
	PADDING-TOP: 5px
}

.seeti UL LI.cur {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -195px;
	COLOR: #fff
}

.seeti UL LI.cur A {
	COLOR: #fff
}

.seeti UL LI A:hover {
	TEXT-DECORATION: underline
}

.seetime {
	MARGIN: 8px 0px 0px;
	FLOAT: right;
	COLOR: #656565
}

.seetime SELECT {
	WIDTH: 67px;
	HEIGHT: 20px;
	FONT-SIZE: 12px
}

.seeway {
	LINE-HEIGHT: 21px;
	MARGIN: 8px 0px 0px 14px;
	WIDTH: 110px;
	FLOAT: right;
	COLOR: #656565
}

.seeway SPAN {
	FLOAT: left
}

.seeway EM {
	LINE-HEIGHT: 1px;
	TEXT-INDENT: -9999px;
	WIDTH: 22px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat -56px -218px;
	FLOAT: left;
	HEIGHT: 19px;
	CURSOR: pointer;
	MARGIN-RIGHT: 5px
}

.seeway EM.cur {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -218px
}

.seeway EM.spe {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat -27px -218px;
	MARGIN-RIGHT: 0px
}

.seeway EM.cur.spe {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat -83px -218px
}

.seeti2 {
	BORDER-BOTTOM: #7189a3 2px solid;
	LINE-HEIGHT: 22px;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 20px;
	WIDTH: 780px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -333px;
	HEIGHT: 22px;
	COLOR: #fff;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}

.waylist {
	BORDER-BOTTOM: #d2d2d2 1px solid;
	POSITION: relative;
	BORDER-LEFT: #d2d2d2 1px solid;
	PADDING-BOTTOM: 2px;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 798px;
	PADDING-RIGHT: 0px;
	BACKGROUND: #f2f2f2;
	BORDER-TOP: #d2d2d2 1px solid;
	BORDER-RIGHT: #d2d2d2 1px solid;
	PADDING-TOP: 2px
}

.wlbg {
	PADDING-BOTTOM: 4px;
	MARGIN: 0px auto;
	PADDING-LEFT: 0px;
	WIDTH: 794px;
	PADDING-RIGHT: 0px;
	BACKGROUND: #fff;
	OVERFLOW: hidden;
	PADDING-TOP: 4px
}

.wlbg P {
	LINE-HEIGHT: 27px;
	MARGIN: 0px 7px;
	FONT-FAMILY: arial, sans-serif;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		repeat-x 0px -386px;
	COLOR: #c2c2c2
}

.wlbg P.nobg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}

.wlbg P A {
	MARGIN: 0px 7px;
	COLOR: #004a99
}

.wlbg P SPAN {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	COLOR: #333;
	FONT-WEIGHT: bold;
	PADDING-TOP: 0px
}

.wlbg P SPAN.cur {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	COLOR: #333;
	FONT-WEIGHT: bold;
	PADDING-TOP: 0px
}

.wlbg P EM {
	PADDING-LEFT: 4px;
	COLOR: #656565
}

.page {
	BORDER-BOTTOM: #ebebeb 1px solid;
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 18px;
	PADDING-LEFT: 100px;
	WIDTH: 800px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	BORDER-TOP: #ebebeb 1px solid;
	PADDING-TOP: 16px
}

.page A {
	BORDER-BOTTOM: #d3d3d3 1px solid;
	BORDER-LEFT: #d3d3d3 1px solid;
	PADDING-BOTTOM: 3px;
	MARGIN: 0px 3px;
	PADDING-LEFT: 9px;
	PADDING-RIGHT: 9px;
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/vi10040701.jpg)
		repeat-x;
	FLOAT: left;
	BORDER-TOP: #d3d3d3 1px solid;
	BORDER-RIGHT: #d3d3d3 1px solid;
	PADDING-TOP: 4px
}

.page A:hover {
	BACKGROUND-POSITION: 0px -22px
}

.page SPAN {
	BORDER-BOTTOM: #d3d3d3 1px solid;
	BORDER-LEFT: #d3d3d3 1px solid;
	PADDING-BOTTOM: 3px;
	MARGIN: 0px 3px;
	PADDING-LEFT: 9px;
	PADDING-RIGHT: 9px;
	FLOAT: left;
	COLOR: #999;
	BORDER-TOP: #d3d3d3 1px solid;
	BORDER-RIGHT: #d3d3d3 1px solid;
	PADDING-TOP: 4px
}

.page SPAN.nonebg {
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	PADDING-TOP: 0px
}

.page EM {
	LINE-HEIGHT: 25px;
	FLOAT: left
}

.page EM.marl {
	MARGIN-LEFT: 25px
}

.page SPAN A {
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/vi10040701.jpg)
		repeat-x
}

.page SPAN.cur {
	COLOR: #ff5f17;
	FONT-WEIGHT: bold
}

.page INPUT {
	BORDER-BOTTOM: #d3d3d3 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #d3d3d3 1px solid;
	MARGIN: 0px 4px;
	WIDTH: 30px;
	FLOAT: left;
	HEIGHT: 22px;
	FONT-SIZE: 12px;
	VERTICAL-ALIGN: middle;
	BORDER-TOP: #d3d3d3 1px solid;
	BORDER-RIGHT: #d3d3d3 1px solid
}

.btmsear {
	WIDTH: 800px;
	CLEAR: both;
	OVERFLOW: hidden;
	PADDING-TOP: 18px
}

.btmsear INPUT {
	FLOAT: left
}

.btmsear INPUT.bstxt {
	BORDER-BOTTOM: #d3d3d3 1px solid;
	BORDER-LEFT: #d3d3d3 1px solid;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 5px;
	WIDTH: 275px;
	PADDING-RIGHT: 0px;
	HEIGHT: 18px;
	COLOR: #333;
	FONT-SIZE: 12px;
	VERTICAL-ALIGN: middle;
	BORDER-TOP: #d3d3d3 1px solid;
	MARGIN-RIGHT: 4px;
	BORDER-RIGHT: #d3d3d3 1px solid;
	PADDING-TOP: 4px
}

.btmsear INPUT.bsbtn {
	BORDER-RIGHT-WIDTH: 0px;
	WIDTH: 60px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		repeat-x 0px -263px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	HEIGHT: 25px;
	VERTICAL-ALIGN: middle;
	BORDER-LEFT-WIDTH: 0px;
	CURSOR: pointer;
	FONT-WEIGHT: bold
}

.keywords_list {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 18px;
	PADDING-LEFT: 10px;
	WIDTH: 440px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	HEIGHT: 18px;
	COLOR: #666;
	OVERFLOW: hidden;
	PADDING-TOP: 4px
}

.keywords_list A {
	COLOR: #333
}

.keyword A:hover {
	COLOR: #333
}

.msglist1 {
	WIDTH: 800px
}

.msglist1 DL {
	BORDER-BOTTOM: #b3b3b3 1px dashed;
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 3px;
	WIDTH: 800px;
	PADDING-RIGHT: 0px;
	HEIGHT: 188px;
	PADDING-TOP: 12px
}

.msglist1 DL.nobg {
	BORDER-BOTTOM-WIDTH: 0px
}

.msglist1 DL .hide1 {
	DISPLAY: none
}

.msglist1 DL DT {
	BORDER-BOTTOM: #d2d2d2 1px solid;
	BORDER-LEFT: #d2d2d2 1px solid;
	WIDTH: 126px;
	FLOAT: left;
	BORDER-TOP: #d2d2d2 1px solid;
	BORDER-RIGHT: #d2d2d2 1px solid
}

.msglist1 DL DT A {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 3px;
	WIDTH: 120px;
	PADDING-RIGHT: 3px;
	DISPLAY: block;
	PADDING-TOP: 3px
}

.msglist1 DL DT SPAN {
	POSITION: absolute;
	FILTER: alpha(opacity = 80);
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 18px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	DISPLAY: block;
	BACKGROUND: #333;
	FLOAT: left;
	HEIGHT: 18px;
	COLOR: #fff;
	OVERFLOW: hidden;
	PADDING-TOP: 0px;
	TOP: 166px;
	LEFT: 7px;
	opacity: .8
}

.msglist1 DL DT SPAN.add {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 16px;
	DISPLAY: block;
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/base100326.png)
		no-repeat;
	HEIGHT: 12px;
	FONT-SIZE: 1px;
	CURSOR: pointer;
	TOP: 170px;
	LEFT: 109px
}

.msglist1 DL DT SPAN.addbtn {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 16px;
	DISPLAY: block;
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/base100326.png)
		no-repeat 0px -24px;
	HEIGHT: 12px;
	FONT-SIZE: 1px;
	CURSOR: pointer;
	TOP: 170px;
	LEFT: 109px
}

.msglist1 DL DT SPAN.addbtn A {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	HEIGHT: 12px;
	PADDING-TOP: 0px
}

.msglist1 DL DT .play_img {
	POSITION: absolute;
	FILTER: alpha(opacity = 75);
	WIDTH: 28px;
	HEIGHT: 28px;
	CURSOR: pointer;
	TOP: 90px;
	LEFT: 55px;
	opacity: .75
}

.msglist1 DL DT.noplay .play_img {
	DISPLAY: none
}

.msglist1 DL DD {
	LINE-HEIGHT: 21px;
	PADDING-LEFT: 20px;
	WIDTH: 650px;
	WORD-WRAP: break-word;
	FLOAT: left;
	WORD-BREAK: break-all
}

.msglist1 DL DD H3 {
	PADDING-RIGHT: 40px;
	FLOAT: left;
	COLOR: #004a99;
	FONT-SIZE: 14px
}

.msglist1 DL DD H3 A {
	COLOR: #004a99
}

.msglist1 DL DD EM {
	COLOR: #989898
}

.msglist1 DL DD.btn {
	LINE-HEIGHT: 25px;
	MARGIN-TOP: 3px;
	HEIGHT: 25px
}

.msglist1 DL DD.btn A {
	TEXT-INDENT: -9999px;
	WIDTH: 100px;
	DISPLAY: block;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -238px;
	HEIGHT: 25px
}

.msglist2 {
	PADDING-BOTTOM: 11px;
	WIDTH: 800px;
	OVERFLOW: hidden
}

.msglist2 DL {
	POSITION: relative;
	MARGIN: 15px 0px 0px 40px;
	WIDTH: 128px;
	FLOAT: left;
	HEIGHT: 310px;
	OVERFLOW: hidden
}

.msglist2 DL.nomar {
	MARGIN: 15px 0px 0px
}

.msglist2 DL .hide2 {
	DISPLAY: none
}

.msglist2 DL DT {
	BORDER-BOTTOM: #d2d2d2 1px solid;
	BORDER-LEFT: #d2d2d2 1px solid;
	WIDTH: 126px;
	BORDER-TOP: #d2d2d2 1px solid;
	BORDER-RIGHT: #d2d2d2 1px solid
}

.msglist2 DL DT A {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 3px;
	WIDTH: 120px;
	PADDING-RIGHT: 3px;
	DISPLAY: block;
	PADDING-TOP: 3px
}

.msglist2 DL DT SPAN {
	POSITION: absolute;
	FILTER: alpha(opacity = 80);
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 18px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	DISPLAY: block;
	BACKGROUND: #333;
	FLOAT: left;
	HEIGHT: 18px;
	COLOR: #fff;
	OVERFLOW: hidden;
	PADDING-TOP: 0px;
	TOP: 154px;
	LEFT: 4px;
	opacity: .8
}

.msglist2 DL DT SPAN.add {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	TEXT-INDENT: -9999px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/base100326.png)
		no-repeat;
	HEIGHT: 12px;
	FONT-SIZE: 1px;
	CURSOR: pointer;
	PADDING-TOP: 0px;
	TOP: 158px;
	LEFT: 106px
}

.msglist2 DL DT SPAN.addbtn {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	TEXT-INDENT: -9999px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/base100326.png)
		no-repeat 0px -24px;
	HEIGHT: 12px;
	FONT-SIZE: 1px;
	CURSOR: pointer;
	PADDING-TOP: 0px;
	TOP: 158px;
	LEFT: 106px
}

.msglist2 DL DT SPAN.addbtn A {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	HEIGHT: 12px;
	PADDING-TOP: 0px
}

.msglist2 DL DT .play_img {
	POSITION: absolute;
	FILTER: alpha(opacity = 75);
	WIDTH: 28px;
	HEIGHT: 28px;
	CURSOR: pointer;
	TOP: 80px;
	LEFT: 55px;
	opacity: .75
}

.msglist2 DL DT.noplay .play_img {
	DISPLAY: none
}

.msglist2 DL DD {
	LINE-HEIGHT: 20px;
	WIDTH: 128px;
	WORD-WRAP: break-word;
	FLOAT: left;
	WORD-BREAK: break-all
}

.msglist2 DL DD H3 {
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 0px;
	WIDTH: 128px;
	PADDING-RIGHT: 0px;
	HEIGHT: 20px;
	COLOR: #004a99;
	FONT-SIZE: 12px;
	OVERFLOW: hidden;
	PADDING-TOP: 6px
}

.msglist2 DL DD H3 A {
	COLOR: #004a99
}

.msglist2 DL DD EM {
	COLOR: #999
}

.msglist2 DL DD.spe1 {
	HEIGHT: 40px;
	OVERFLOW: hidden
}

.msglist3 {
	PADDING-BOTTOM: 11px;
	WIDTH: 800px;
	OVERFLOW: hidden
}

.msglist3 DL {
	POSITION: relative;
	MARGIN: 15px 0px 0px 40px;
	WIDTH: 128px;
	FLOAT: left;
	HEIGHT: 218px;
	OVERFLOW: hidden
}

.msglist3 DL.nomar {
	MARGIN: 15px 0px 0px
}

.msglist3 DL .hide3 {
	DISPLAY: none
}

.msglist3 DL DT {
	BORDER-BOTTOM: #d2d2d2 1px solid;
	BORDER-LEFT: #d2d2d2 1px solid;
	WIDTH: 126px;
	BORDER-TOP: #d2d2d2 1px solid;
	BORDER-RIGHT: #d2d2d2 1px solid
}

.msglist3 DL DT A {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 3px;
	WIDTH: 120px;
	PADDING-RIGHT: 3px;
	DISPLAY: block;
	PADDING-TOP: 3px
}

.msglist3 DL DT SPAN.add {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 16px;
	DISPLAY: block;
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/base100326.png)
		no-repeat;
	HEIGHT: 12px;
	FONT-SIZE: 1px;
	CURSOR: pointer;
	RIGHT: 6px;
	TOP: 80px
}

.msglist3 DL DT SPAN.addbtn {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 16px;
	DISPLAY: block;
	BACKGROUND:
		url(http://image1.megajoy.com/play_page/images/base100326.png)
		no-repeat 0px -24px;
	HEIGHT: 12px;
	FONT-SIZE: 1px;
	CURSOR: pointer;
	RIGHT: 6px;
	TOP: 80px
}

.msglist3 DL DT SPAN.addbtn A {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	HEIGHT: 12px;
	PADDING-TOP: 0px
}

.msglist3 DL DT SPAN.min1 {
	POSITION: absolute;
	FILTER: alpha(opacity = 80);
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 16px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	BACKGROUND: #333;
	COLOR: #fff;
	PADDING-TOP: 0px;
	TOP: 78px;
	LEFT: 4px;
	opacity: .8
}

.msglist3 DL DT SPAN.min2 {
	POSITION: absolute;
	TEXT-INDENT: -9999px;
	WIDTH: 16px;
	DISPLAY: block;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.png)
		no-repeat;
	HEIGHT: 12px;
	CURSOR: pointer;
	RIGHT: 6px;
	TOP: 80px
}

.msglist3 DL DT SPAN.min2 A {
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	HEIGHT: 12px;
	OVERFLOW: hidden;
	BORDER-LEFT-WIDTH: 0px;
	PADDING-TOP: 0px
}

.msglist3 DL DT SPAN.min2 A:hover {
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.png)
		no-repeat 0px -12px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	HEIGHT: 12px;
	BORDER-LEFT-WIDTH: 0px;
	PADDING-TOP: 0px
}

.msglist3 DL DT .play_img {
	POSITION: absolute;
	FILTER: alpha(opacity = 75);
	WIDTH: 28px;
	HEIGHT: 28px;
	CURSOR: pointer;
	TOP: 35px;
	LEFT: 50px;
	opacity: .75
}

.msglist3 DL DT.noplay .play_img {
	DISPLAY: none
}

.msglist3 DL DD {
	LINE-HEIGHT: 19px;
	PADDING-LEFT: 3px;
	WIDTH: 125px;
	FLOAT: left
}

.msglist3 DL DD H3 {
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 18px;
	PADDING-LEFT: 0px;
	WIDTH: 125px;
	PADDING-RIGHT: 0px;
	COLOR: #004a99;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
	PADDING-TOP: 5px
}

.msglist3 DL DD H3 A {
	COLOR: #004a99
}

.msglist3 DL DD.spe SPAN {
	COLOR: #004a99
}

.msglist3 DL DD.spe SPAN A {
	COLOR: #004a99
}

.msglist3 DL DD EM {
	COLOR: #999
}

.unify DL {
	HEIGHT: 195px
}

.Seirios DL {
	HEIGHT: 142px
}

.listrank {
	BORDER-BOTTOM: #b0afad 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #b0afad 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 0px;
	WIDTH: 275px;
	PADDING-RIGHT: 0px;
	DISPLAY: none;
	BACKGROUND: #f1f1f1;
	BORDER-TOP: #b0afad 1px solid;
	BORDER-RIGHT: #b0afad 1px solid;
	PADDING-TOP: 5px
}

.listrank H3 {
	BORDER-BOTTOM: #fff 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #fff 1px solid;
	LINE-HEIGHT: 24px;
	MARGIN: 0px auto;
	WIDTH: 265px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		repeat-x 0px -135px;
	COLOR: #fff;
	FONT-SIZE: 13px;
	BORDER-TOP: #fff 1px solid;
	BORDER-RIGHT: #fff 1px solid
}

.lrtitle {
	BORDER-BOTTOM: #d4d4d4 1px solid;
	PADDING-BOTTOM: 1px;
	LINE-HEIGHT: 22px;
	MARGIN: 0px auto;
	PADDING-LEFT: 1px;
	WIDTH: 265px;
	PADDING-RIGHT: 1px;
	BACKGROUND: #fff;
	COLOR: #d4d4d4;
	PADDING-TOP: 1px
}

.lrtitle SPAN {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	COLOR: #fe6017;
	PADDING-TOP: 0px
}

.lrtitle SPAN.spe {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 60px;
	PADDING-RIGHT: 70px;
	PADDING-TOP: 0px
}

.lrtitle SPAN.spe2 {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 6px;
	PADDING-TOP: 0px
}

.listrank UL {
	PADDING-BOTTOM: 1px;
	MARGIN: 0px auto;
	PADDING-LEFT: 1px;
	WIDTH: 265px;
	PADDING-RIGHT: 1px;
	BACKGROUND: #fff;
	OVERFLOW: hidden;
	PADDING-TOP: 1px
}

.listrank UL LI {
	LINE-HEIGHT: 24px;
	WIDTH: 265px;
	FLOAT: left;
	HEIGHT: 24px
}

.listrank UL LI.bgcol {
	BACKGROUND: #f7f7f7
}

.listrank UL LI EM {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 13px;
	MARGIN: 5px 11px 0px 6px;
	WIDTH: 18px;
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat -18px -160px;
	FLOAT: left;
	COLOR: #fff;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	_padding-top: 1px
}

.listrank UL LI.bg EM {
	BACKGROUND: url(http://image1.megajoy.com/play_page/images/vi100407.jpg)
		no-repeat 0px -160px
}

.listrank UL LI A {
	FLOAT: left;
	COLOR: #004a99
}

.listrank UL LI SPAN {
	PADDING-RIGHT: 5px;
	FLOAT: right
}